// Colours

// **Primary**
$scissorsGradientLight: hsl(39, 89%, 49%);
$scissorsGradientDark: hsl(40, 84%, 53%);
$paperGradientLight: hsl(230, 89%, 62%);
$paperGradientDark: hsl(230, 89%, 65%);
$rockGradientLight: hsl(349, 71%, 52%);
$rockGradientDark: hsl(349, 70%, 56%);
$lizardGradientLight: hsl(261, 73%, 60%);
$lizardGradientDark: hsl(261, 72%, 63%);
$CyanLight: hsl(189, 59%, 53%);
$CyanDark: hsl(189, 58%, 57%);

// **Neutral**
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);

// **Background**
$radialGradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
$backgroundLight: hsl(214, 47%, 23%);
$backgroundDark: hsl(237, 49%, 15%);

// **fonts**
$fontWeight600: 600;
$fontWeight700: 700;
$fontFamily: 'Barlow Semi Condensed', sans-serif;
