.icon-wrap {
  height: 7.5rem;
  width: 7.5rem;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: 0.5s all;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.icon {
  height: 80%;
  width: 80%;
  border-top: 0.35em solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: center;
  svg {
    width: 3rem;
  }
}

// Classes added during the game!
.icon-wrap-active {
  height: 12rem;
  width: 12rem;
  position: relative;
  z-index: 10;
  @include respond(desk) {
    height: 17rem;
    width: 17rem;
  }
}

.icon-active {
  svg {
    width: 4rem;
  }
  @include respond(desk) {
    svg {
      width: 7rem;
    }
  }
}

// WINNER STLYE RADIAL GRADIENT
.winner {
  position: relative;
  &-layer1 {
    width: 140%;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 3;
  }
  &-layer2 {
    width: 180%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
  &-layer3 {
    width: 240%;
    height: 240%;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.winner-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  opacity: 0.1;
}